.app {
    max-width: 100vw;
}

.app-logo {
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #f65044;
}

.app-logo a,a:hover {
    color: #cd2026;
    text-decoration: none;
}



.app-header {
  height: 60px;
  border-bottom: 1px solid #aeb0b5;
}

.app-footer {
  background-color: #aeb0b5;
  height: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.app-footer p {
    margin: 0;
}

.app-link {
  color: #61dafb;
}

.app-main {
    min-height: 100px;
    max-width: 1276px;
    margin: 0 auto;
    min-height: 400px;
}
.main-loader {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}